<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='inicio.css')}}">
    </head>
    <body>
        <header>
            <h1 class="titulo">WebPro</h1>
            <ul>
                <li class="sobre">Sobre</li>
            </ul>
        </header>
        <div class="titulo_login">
            <h1>Redefinir senha do Usuario</h1>
        </div>
        <center>
            <div class="conta_nova">
                <form action="{{url_for('senha_alterada')}}" method='post'>
                    Nova senha: <br>
                    <input type="password" class="senha" name='nova_senha'>
                    <button type="submit" class="entrar">Alterar senha</button>
                    <input type="hidden" name='email' value="{{email}}">
                </form>
            </div>
        </center>
    </body>
</html>