<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='inicio.css')}}">
        <title>Novo Site</title>
    </head>
    <body class="body_artigo">
        <header class="webpro_header">
            <h1 class="titulo">WebPro</h1>
            <ul>
                <a href="{{url_for('usuario_sites')}}" class="sobre">Salvar</a>
                <a href="https://gustavociec.pythonanywhere.com/edit" class="sobre">Voltar</a>
                <title>WebPro</title>
            </ul>
        </header>
        <h1 class="h1_artigo">Modelo neutro</h1>
        <main class="main_artigo">
            <article class="article_artigo">
                <h2 class="h2_artigo">Título</h2>
                <p class="p_artigo">Texto</p>
            </article>
            <article class="article_artigo">
                <h2 class="h2_artigo">Título</h2>
                <p class="p_artigo">Texto</p>
            </article>
            <article class="article_artigo">
                <h2 class="h2_artigo">Título</h2>
                <p class="p_artigo">Texto</p>
            </article>
        </main>
    </body>
</html>