<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='modelo_artigo.css')}}">
    </head>
    <body>
        <h1 class="h1_artigo" >{{titulo}}</h1>
        <main class="main_artigo">
            <article class="article_artigo">
                <h2 class="h2_artigo">{{paragrafo1}}</h2>
                <p class="p_artigo" >{{descricao}}</p>
            </article>
            <article class="main_artigo">
                <h2 class="h2_artigo">{{NovoParagrafo}}</h2>
                <p class="p_artigo">{{NovaDescricao}}</p>
            </article>
            <article class="article_artigo">
                <h2 class="h2_artigo">Título do Artigo 3</h2>
                <p class="p_artigo">Vestibulum lobortis justo at neque tristique aliquet. Nam ultricies metus quis libero rutrum, vitae laoreet est fermentum.</p>
            </article>
        </main>
    </body>
</html>